<h1>Output</h1>
<table style= " border:1px solid black; ">
    <tr style= " border:1px solid black;">
        <th style= " border:1px solid black; width: 5cm;">Note Si.No.</th>
        <th style= " border:1px solid black; width: 15cm; ">Title</th>
        <th style= " border:1px solid black; width: 40cm ">Content</th>
        <th style= " border:1px solid black;">Delete</th>
        <th style= " border:1px solid black;">Update</th>
    </tr>
</table>
<div *ngFor="let info of notes; let index = index">
    <table style= " border:1px solid black; ">
        <tr style= " border:1px solid black;">
            <td style= " border:1px solid black; width: 5cm">Note {{index}} :</td>
            <td style= " border:1px solid black; width: 15cm;">{{info[0]}}</td>
            <td style= " border:1px solid black; width: 40cm;">{{info[1]}}</td>
            <td style= " border:1px solid black;"><button (click)="delete(index)">Delete</button></td>
            <td style= " border:1px solid black;"><button (click)="update(index)">Update</button></td>
        </tr>
    </table>

</div>

